extends layout

block content
    script(type='text/javascript', src='/js/login.js', charset='utf-8')
    div(class='login')
        a(href='/') ///
        span Login
        div(id='loginA' class='form')
            div
                label Логин
                input(type='text' name='username')
            div
                label Пароль
                input(type='text' name='password')
            div(class='btn')
                button Войти
            div(class='err-msg')